body {
  background-color: brown;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
#survey-form {
  background-color: cornflowerblue;
  margin: auto;
  width: 80%;
  padding: 20px 20px;
}
.form-group {
  display: grid;
}
.form-group label {
  padding: 10px 0;
}
.form-group input[] {
  width: 100%;
}
.header {
  text-align: center;
}
.submit-button {
  width: 100%;
  margin-top: 10px;
  line-height: 20px;
  font-size: 15px;
}
